*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    background-color: rgb(104, 255, 137);
    transition: background 1s ease-in;
    position: relative;
}

.form-nome,
.form-email,
.form-senha,
.form-final{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 50px;
    width: 400px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    transition: all 0.5s ease;
}

.form-nome i,
.form-email i,
.form-senha i,
.form-final i{
    padding: 10px;
    cursor: pointer;
}

.form-nome input,
.form-email input,
.form-senha input{
    background: none;
    border: none;
    flex: 1;
    height: 100%;
    outline: none;
}

div.inativa{
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, 50%);
}

div.ativo{
    opacity: 1;
    pointer-events: all;
    transform: translate(-50%, -50%);
}

@keyframes shake{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    25%{
        transform: translate(-50%, -50%) rotate(5deg);
    }
    50%{
        transform: translate(-50%, -50%) rotate(-5deg)
    }
    100%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
}